@charset "UTF-8";
/*Custom CSS*/

body{
    background-color: #F09483;
    padding-top: 25px;
}


h1{
  text-align: center;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
    color: white;
    
}


h2{
  text-align: center;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;  
  color: white;
}
h3{
  color: white;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p{
 font-family: "Archivo Narrow", sans-serif;
    font-size: medium;
  color: white;
}

header{
    
    background-color: #FFB797;
    
    
}



footer{
    
    background-color: #7E515A; 
}

.row{
    padding: 15px;
    width: 100%;    
}


/*nav styles*/

nav ul li a:link,nav ul li a:visited {
    color:white;
    background-color: #7E515A;
    
}

nav ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #7E515A;
  display: flex;
   
   
}

nav ul li {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

nav ul li a{
    display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.author-portrait{
  margin-top: 20;
}

