@charset "UTF-8";
/*Custom CSS*/



body{
    background-color: #F09483;
    padding-top: 25px;
}


h1{
  text-align: center;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
    color: white;
    
}


h2{
  text-align: center;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;  
  color: white;
}
h3{
  color: white;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p{
 font-family: "Archivo Narrow", sans-serif; 
    font-size: medium;
  color: white;
}


footer{
    
    background-color: #7E515A; 
}

.row{
    padding: 15px;
    width: 100%;    
}


/*nav styles*/
nav ul li a:link,nav ul li a:visited {
    color:white;
    background-color: #7E515A;
    
}

nav ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #7E515A;
  display: flex;
   
}

nav ul li {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

nav ul li a{
    display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.author-portrait{
  margin-top: 20;
}

/* Calendar*/
.calendar ul {
    list-style-type: none;
}

.calendar body{
    font-family: "Archivo Narrow",sans-serif;
}
.month {
    padding: 70px 25px;
    width: 100%;
    background: #F09483;
    text-align: center;
}


.month ul{
    margin: 0;
    padding: 0;
}

.month ul li{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev{
    float: left;
    padding-top: 10px;

}
.month .next {
    
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#F09483;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: white;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #7E515A;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: white;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #F09483;
  color: white !important
}